bin/
obj/
*.dll
*.pdb
*.exe
*.tgz
*.drawio.bkp
.direnv/
.vs/
packages/
logs/
/phi.sln.DotSettings.user
*.fragment.lock.json
*.nupkg
.idea/
/phi.v11.suo
/csharp/Hippo/PhdHippoApi/data/plugins/
/csharp/Hippo/PhdHippoApi/data/etc/migration/
/csharp/Hippo/PhdHippoApi/data/var/
/csharp/Hippo/PhdHippoApi/data/psrtopdf/
/csharp/Hippo/PhdHippoApi/data/wwwroot/
/csharp/Hippo/PhdHippoApp/data/plugins/
/csharp/Hippo/PhdHippoApp/data/etc/migration/
/csharp/Hippo/PhdHippoApp/data/var/
/csharp/Hippo/PhdHippoApp/data/psrtopdf/
/csharp/Hippo/PhdHippoApp/data/wwwroot/
/csharp/Hippo/PhdHippoApi/data/etc/AllExpectedMigrationFilenames.txt
/csharp/Online/PhdOnlineApi/data/wwwroot/
/csharp/YARP/YARP/data/wwwroot/
/csharp/Online/PhdOnlineApi/Properties/PublishProfiles/
/csharp/Hippo/PhdHippoApi/data/etc/swaggerdoc.xml
/.sonarqube/
.sonarqube/
kotlin-js-store/

.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Dev settings
**/dev_settings.json
*.sln.DotSettings.user
/sql/ParagonCRMDatabase/ParagonCRMDatabase.jfm
/sql/ParagonCRMDatabase/ParagonCRMDatabase.dbmdl
/sql/reference_db/data_retention/props.sql
/sql/reference_db/documents/props.sql
/sql/reference_db/paragon/props.sql

/sql/ParagonCRMDatabase_old/ParagonCRMDatabase.dbmdl
/sql/ParagonCRMDatabase_old/ParagonCRMDatabase.jfm
/csharp/Hippo/PhdHippoEclipseApi/Properties/launchSettings.json
/csharp/Hippo/Hippo.sln
/csharp/Hippo/PhdHippoApi/data/etc/env_settings.json

/csharp/Hippo/PhdHippoApi/Properties/launchSettings.json
